*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
nav{
    background: #F6F3F3;
    height: 80px;
    width: 100%;
 

}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.loading{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 29px;
    background: #F6F3F3;
    width: 100%;
   
}
.btnDiscover{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #F6F3F3;
    padding: 0 29px;
    height: 52px;
    margin: 8px 0;
    background-color: #004080;
}
.about{
    display: flex;
    gap:80px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
   
}
.about-H .allDonation{
    display: flex;
    flex-direction: row;
    gap:6px;
   
}

.about-H p{
    font-size: 15px;
}
.donation{
    width: 20%;
    height: 110px;
    background-color:#fff;
    border-radius: 5px;
    border: 2px solid #F6F3F3;
    padding-top: 20px;
    padding-left: 10px;
    
}
.skill{
    background-color: #fff;
    width: 100%;
    height: 320px;
    border: 2px solid #F6F3F3;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.skill .d1{
    background-color: #ffff;
    width: 90%;
    height: 10px;
    border:2px solid #F6F3F3;
    border-radius: 4px;
}
.skill .d1 .d11{
    background-color: #234EE8;
    width: 85%;
    height: 7px;
    border:2px solid #F6F3F3;
    border-radius: 4px;

}
.skill .d1 .d12{
    background-color: #234EE8;
    width: 75%;
    height: 7px;
    border:2px solid #F6F3F3;
    border-radius: 4px;

}
.skill .d1 .d13{
    background-color: #234EE8;
    width: 90%;
    height: 7px;
    border:2px solid #F6F3F3;
    border-radius: 4px;

}
.skill .d1 .d14{
    background-color: #234EE8;
    width: 66%;
    height: 7px;
    border:2px solid #F6F3F3;
    border-radius: 4px;

}
.skill .d1 .d15{
    background-color: #234EE8;
    width: 55%;
    height: 7px;
    border:2px solid #F6F3F3;
    border-radius: 4px;

}
.contact{
         margin-top: 50px;
        background-color: #D6EAF8;
        width: 100%;
        height: auto;
        padding-top:60px
}
.contact h2{ 
    text-align: center;
}
.contact p{ 
    text-align: center;
}

iframe{
    width:70%; 
    height:250px;
}


form .fields .input-field
{
    display: flex;
    width: calc(100% /2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: black;
}
.input-field input[type="text"]{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color:black;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input[type="date"]{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color:black;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}


/* .input-field textarea{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
} */
.btnEnter{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #F6F3F3;
    padding: 0 29px;
    height: 42px;
    margin: 8px 0;
    background-color: #004080;
}

.form-one{
    display: flex;
     gap:75px;
    flex-direction: row;
    align-items: center;
    padding-left: 320px;
    margin-top: -40px;
   
}
.two{
    margin-top: 63px;
}
.Blog{
    margin-top: 120px; 
}
.blog1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:20px;
}
.blog11{
    text-align: start;
    width: 280px;
    /* background-color: black; */
    height: auto;
    padding-left: 9px;
    padding-top: 5px;
    border: 3px solid #D6EAF8;
    border-radius: 3px;
    
}
.blog11 .p1{
    text-align: start;
    font-family: sans-serif;
}
.blog11 .p2{
    text-align: start;
}
.blog11 .p3{
    text-align: start;
    font-family: sans-serif;
}
.footer{
    width: 100%;
    background-color: black;
    height: 200px;
}







@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .loading{
        flex-direction: column;
   
    }
    .header-text{
        margin-top: 30px;
    }
    .about{
        flex-direction: column;
        text-align: center;
    }
  .skill{
    margin-top: -70px;
  }
  .donation p{
    font-size: 10px;
  }
  .donation b{
    font-size: 10px;
  }
  .donation{
    width: 50%;
  }
  iframe{
    width:95%; 
    height:150px;
}
.contact p{
    font-size: 10px;
}
 .fields{
    /* display: ; */
    flex-direction:column;
    /* gap:250px; */
}
.form-one{
    flex-direction: column;
    padding-left: 0px;
    margin-top: 5px;
}
.two{
    margin-top: -63px;
}
.Blog{
    margin-top: 24px;
}
.blog1{
    grid-template-columns: auto auto;
  
}
.blog11{
    width:83%;

}
}
@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #D6EAF8;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    #check:checked ~ ul{
        left: 0;
    }

    img{
        width: 300px;
        height: 350px;
    }
}
    @media (max-width: 400px){
        label.logo{
            font-size: 30px;
            padding-left: 50px;
        }
        nav ul li a{
            font-size: 16px;
        }
        .loading{
            flex-direction: column;
       
        }
        .header-text{
            margin-top: 30px;
        }
        .about{
            flex-direction: column;
            text-align: center;
        }
      .skill{
        margin-top: -70px;
      }
      .donation p{
        font-size: 10px;
      }
      .donation b{
        font-size: 10px;
      }
      .donation{
        width: 50%;
      }
      iframe{
        width:95%; 
        height:150px;
    }
    .contact p{
        font-size: 10px;
    }
     .fields{
        /* display: ; */
        flex-direction:column;
        /* gap:250px; */
    }
    .blog1{
        grid-template-columns: auto;
      
    }
    }







